swagger: '2.0'
info:
  title: Students API
  description: Get data specific to students.
  version: v1
  license:
    name: GNU Affero General Public License Version 3
    url: http://www.gnu.org/licenses/agpl-3.0.en.html
  contact:
    name: IS Data Architecture Team
    url: https://is.oregonstate.edu/data-architecture
    email: isdataarchitecture@oregonstate.edu
schemes:
  - https
host: api.oregonstate.edu
basePath: /v1
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/students-api
produces:
  - application/json
consumes:
  - application/json
security:
  - OAuth2:
      - full
paths:
  /students/{osuId}/academic-status:
    get:
      tags:
        - students
        - academic-status
      description: Get GPA and academic standing for each term a student is registered for.
      operationId: getAcademicStatusById
      parameters:
        - $ref: '#/parameters/term'
        - $ref: '#/parameters/osuId'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AcademicStatusResult'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorResult'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorResult'
  /students/{osuId}/account-balance:
    get:
      tags:
        - students
        - account-balance
      description: Get a student's current account balance.
      operationId: getAccountBalanceById
      parameters:
        - $ref: '#/parameters/osuId'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountBalanceResult'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorResult'
  /students/{osuId}/account-transactions:
    get:
      tags:
        - students
        - account-transactions
      description: Get a student's history of account transactions.
      operationId: getAccountTransactionsById
      parameters:
        - $ref: '#/parameters/osuId'
        - $ref: '#/parameters/term'
        - in: query
          name: transactionType
          description: Filter transactions by type
          required: false
          type: string
          enum: ['payment', 'charge']
        - in: query
          name: categories
          description: |
            Filter transactions by categories:
              - `CSH` - Cash, Check, Credit Card
              - `RET` - Returned Check Charge
              - `FEE` - Registration Fees
              - `TUI` - Registration Tuition
              - `FA` - Financial Aid
              - `RFD` - Refund
              - `APF` - Admissions Application Charges
              - `EXM` - Exemption Payments
              - `CNT` - Contract Charges/Payments
              - `INS` - Installment Charges/Payments
              - `TRN` - Transcript Charges
              - `DEP` - Deposit
              - `BIL` - Billing Charges
              - `HOU` - Housing
              - `TFC` - Traffic
              - `MSC` - Misc Reimbursements
              - `MEA` - Meal Detail Codes
              - `PHO` - Phone Detail Codes
              - `OFE` - Other Registration Fees
              - `FWD` - Balance Forward
              - `NON` - Non use
              - `VET` - Vet Med Category
              - `CGA` - Cashier/Gen Accounting
              - `GEN` - General Accounting
              - `RES` - Research Accounting
              - `COL` - Collections
              - `INT` - International Education
              - `HEA` - Health Center
              - `REG` - Registrar
              - `LIB` - Library
              - `SLO` - Student Loans
              - `PLC` - Placement Center
              - `MUB` - Memorial Union
              - `COU` - Counseling Center
              - `UCS` - Computing Services
              - `DCE` - Continuing Education
              - `NBL` - No a/r statement
              - `RMB` - Reimbursement Codes
              - `ELN` - Emergency Loan
              - `GRN` - Grant Billing
              - `ALW` - Allowance Doubtful Accounts
              - `AGP` - Agricultural Publications
              - `HHS` - Health/Human Science
              - `ATH` - Athletics
              - `MPW` - Marketplace
              - `NQC` - Nonuse 1098T Qualifying Chg
              - `NSG` - Nonuse 1098T Scholarship/Grant
              - `CCB` - Cascades Campus
              - `IDC` - ID Center
              - `N2` - INTO OSU
              - `ASB` - Arts & Science Business Center
              - `PPL` - Parent Plus Title IV Payment
              - `FNR` - Nonrefundable Course Fees
              - `NCR` - Non Cash Resources
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
            enum: [CSH ,RET ,FEE ,TUI ,FA ,RFD ,APF ,EXM ,CNT ,INS ,TRN ,DEP ,BIL ,HOU ,TFC ,MSC ,MEA ,PHO ,OFE ,FWD ,NON ,VET ,CGA ,GEN ,RES ,COL ,INT ,HEA ,REG ,LIB ,SLO ,PLC ,MUB ,COU ,UCS ,DCE ,NBL ,RMB ,ELN ,GRN ,ALW ,AGP ,HHS ,ATH ,MPW ,NQC ,NSG ,CCB ,IDC ,N2 ,ASB ,PPL ,FNR ,NCR]
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountTransactionsResult'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorResult'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorResult'
  /students/{osuId}/classification:
    get:
      tags:
        - students
        - classification
      description: Get a student's classification information
      operationId: getClassificationById
      parameters:
        - $ref: '#/parameters/osuId'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ClassificationResult'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorResult'
  /students/{osuId}/class-schedule:
    get:
      tags:
        - students
        - class-schedule
      description: >
        Get a student's class schedule. If no 'term' parameter is provided,
        active registrations for all terms will be returned.
      operationId: getClassScheduleById
      parameters:
        - $ref: '#/parameters/term'
        - $ref: '#/parameters/osuId'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ClassScheduleResult'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorResult'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorResult'
  /students/{osuId}/degrees:
    get:
      tags:
        - students
        - degree
      description: Get a student's degree, major, minor and college information
      operationId: getDegreeById
      parameters:
        - $ref: '#/parameters/term'
        - $ref: '#/parameters/osuId'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DegreesResult'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorResult'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorResult'
  /students/{osuId}/dual-enrollment:
    get:
      tags:
        - students
        - dual-enrollment
      description: Get a student's enrolled credit hours from a dual enrollment institution.
      operationId: getDualEnrollmentById
      parameters:
        - $ref: '#/parameters/term'
        - $ref: '#/parameters/osuId'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DualEnrollmentResult'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorResult'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorResult'
  /students/{osuId}/gpa:
    get:
      tags:
        - students
        - gpa
      description: Get a student's overall grade point averages.
      operationId: getGradePointAverageById
      parameters:
        - $ref: '#/parameters/osuId'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GradePointAverageResult'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorResult'
  /students/{osuId}/grades:
    get:
      tags:
        - students
        - grades
      description: Get a student's final grades for their classes.
      operationId: getGradesById
      parameters:
        - $ref: '#/parameters/term'
        - $ref: '#/parameters/osuId'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GradesResult'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorResult'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorResult'
  /students/{osuId}/holds:
    get:
      tags:
        - students
        - holds
      description: Get a student's current academic holds.
      operationId: getHoldsById
      parameters:
        - $ref: '#/parameters/osuId'
        - in: query
          name: codes
          description: Filter holds by codes
          required: false
          type: array
          collectionFormat: csv
          items: &HoldCode
            type: string
            enum: [AD, AM, AP, AR, AS, AW, BB, BC, BD, BG, BI, BL, BP, BR, BS, BU, CC, CE, CM, CP, CR, CS, CW, DC, DD, DG, DH, DP, DS, DT, EL, EN, EO, EP, ET, FA, GA, GD, GG, GM, GR, HA, HC, HH, HI, HS, HV, IN, IP, IS, IT, LF, LG, N2, N3, N4, N5, NB, ND, NH, NP, NR, PF, R1, R2, R3, R4, R5, R6, R7, R8, R9, RA, RB, RC, RD, RE, RF, RG, RH, RI, RJ, RM, RQ, RT, RY, SF, SL, SR, SS, TP, TR, VM, VT]
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/HoldsResult'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorResult'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorResult'
  /students/{osuId}/work-study:
    get:
      tags:
        - students
        - work-study
      description: Get a student's available work study funding.
      operationId: getWorkStudyById
      parameters:
        - $ref: '#/parameters/osuId'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/WorkStudyResult'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorResult'
  /students/{osuId}/emergency-contacts:
    get:
      tags:
        - students
        - emergency-contacts
      description: Get a student's emergency contacts
      operationId: getEmergencyContactById
      parameters:
        - $ref: '#/parameters/osuId'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/EmergencyContactsResult'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorResult'
parameters:
  osuId:
    name: osuId
    in: path
    required: true
    description: OSU ID of person
    type: string
    pattern: '^\d{9}$'
  term:
    name: term
    in: query
    required: false
    pattern: '^\d{6}$|^current$'
    description: >
      Term code. Example: 201802. You can also specify 'current' to get the current term. During
      academic breaks, the current term will be the current or the most future term. For example,
      during spring break, the current term will be the spring term.
    type: string
securityDefinitions:
  OAuth2:
    type: oauth2
    flow: application
    tokenUrl: https://api.oregonstate.edu/oauth2/token
    scopes:
      full: Full access to the API
definitions:
  AcademicStatusResult:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        type: array
        items:
          $ref: '#/definitions/AcademicStatusResource'
  AcademicStatusResource:
    properties:
      id:
        $ref: '#/definitions/StudentAndTermId'
      type:
        type: string
        enum: [academic-status]
      attributes:
        properties:
          academicStanding:
            type: string
            example: Good Standing
            description: Academic standing
            enum:
              - Good Standing
              - Academic Dismissal - Graduate
              - Continued Deferred Suspension
              - Honor Roll
              - Academic Probation
              - Special Deferred Suspension
              - Academic Suspension
              - Deferred Suspension
              - Academic Warning
              - Reinstatement After Suspension
          term:
            description: The term that this course was graded for.
            type: string
            example: '201901'
          termDescription:
            description: Description of the term.
            type: string
            example: Fall 2018
          gpa:
            description: Grade point averages for the given term.
            type: array
            items:
              $ref: '#/definitions/GradePointAverage'
      links:
        $ref: '#/definitions/SelfLink'
  AccountBalanceResult:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        $ref: '#/definitions/AccountBalanceResource'
  AccountBalanceResource:
    properties:
      id:
        $ref: '#/definitions/StudentId'
      type:
        type: string
        enum: [account-balance]
      attributes:
        properties:
          currentBalance:
            type: number
            format: float
            description: Current balance of student's account, in USD.
            example: 2500.39
      links:
        $ref: '#/definitions/SelfLink'
  AccountTransactionsResult:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        $ref: '#/definitions/AccountTransactionsResource'
  AccountTransactionsResource:
    properties:
      id:
        $ref: '#/definitions/StudentId'
      type:
        type: string
        enum: [account-transactions]
      attributes:
        properties:
          transactions:
            type: array
            items:
              properties:
                amount:
                  type: number
                  format: float
                  description: Amount of money transferred for transaction, in USD.
                  example: 200.59
                description:
                  type: string
                  description: Description of transaction.
                  example: Tuition Deposit Applied
                category:
                  type: string
                  description: Transaction category
                  example: ID Center
                entryDate:
                  type: string
                  format: date-time
                  description: Date the transaction was entered.
                  example: 2018-04-27T06:31:15Z
                term:
                  description: The term that this transaction was occurred.
                  type: string
                  example: '201901'
                transactionType:
                  type: string
                  description: Transaction Type
                  enum: [charge, payment]
                  example: charge
          links:
            $ref: '#/definitions/SelfLink'
  ClassificationResult:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        $ref: '#/definitions/ClassificationResource'
  ClassificationResource:
    properties:
      id:
        $ref: '#/definitions/StudentId'
      type:
        type: string
        enum: [classification]
      attributes:
        properties:
          levelCode: &levelCode
            description: |
              Academic level code:
                - `00` - Level Not Declared
                - `02` - Graduate
                - `03` - Postbac Degree Seeking
                - `01` - Undergraduate
                - `04` - Non-Degree / Credential
                - `05` - Professional
                - `CP` - Cascades Partner
                - `CG` - Cascades Partner Grad Course
                - `CX` - Obsolete - Do not use
                - `D1` - E-Campus Undergraduate Course
                - `D2` - E-Campus Graduate Course
                - `DO` - E-Campus Overlay Course
                - `DR` - E-Campus Intermediate Course
                - `NC` - Non Credit
                - `06` - INTO OSU GE/AE/Pathways
                - `D3` - ECampus CCLP & Couseling PHD
            type: string
            enum: ['00', '02', '03', '01', '04', '05', 'CP', 'CG', 'CX', 'D1', 'D2', 'DO', 'DR', 'NC', '06', 'D3']
          level:
            description: Description of Academic level code
            type: string
            example: Undergraduate
          classification:
            description: Classification of a student
            example: Sophomore
            type: string
            enum:
              - Freshman
              - Sophomore
              - Junior
              - Senior
              - Vet Med-First Year
              - Determine from Student Type
              - Continuing Higher Education
              - Vet Med-Second Year
              - Vet Med-Third Year
              - Vet Med-Fourth Year
              - Auditor Only
          campusCode:
            description: Campus code for a student
            example: C
            type: string
          campus:
            description: Campus for a student
            example: Oregon State - Corvallis
            type: string
          status:
            description: Student status
            example: New Student
            type: string
            enum:
              - New Student
              - Inactive Student
              - Withdrawn Student
              - Continuing
              - Readmit/Old Returning
              - Summer Only Student
              - Continuing Higher Education
              - Auditor
              - Non-matriculated student
          isInternational:
            description: Identifies whether the student is international student.
            type: boolean
          studentTypeCode:
            description: |
              Student type code:
              - `0`- Undeclared
              - `1`- Freshman < 24 hours
              - `2`- Freshman - Early Admit
              - `3`- GED
              - `4`- Credential
              - `5`- Non-Degree Undergrad
              - `6`- Non-Degree Graduate
              - `7`- Post Baccalaureate
              - `8`- Masters
              - `9`- Doctoral
              - `A`- Auditor Only
              - `C`- Continuing Higher Education
              - `G`- Post Bac Graduate
              - `H`- Graduate Certificate
              - `K`- K-12 Online
              - `N`- Non-Credit
              - `P`- Doctor of Pharmacy
              - `R`- Readmit
              - `S`- Summer Only
              - `T`- Transfer
              - `V`- Veterinary Medicine
              - `W`- INTO OSU Graduate Pathways
              - `X`- INTO OSU General English
              - `Y`- INTO OSU Academic English
              - `Z`- INTO OSU Undergrad Pathways
            type: string
            enum: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'C', 'G', 'H', 'K', 'N', 'P', 'R', 'S', 'T', 'V', 'W', 'X', 'Y', 'Z']
          studentType:
            description: Description of student type
            type: string
            example: INTO OSU Graduate Pathways
      links:
        $ref: '#/definitions/SelfLink'
  ClassScheduleResult:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        type: array
        items:
          $ref: '#/definitions/ClassScheduleResource'
  ClassScheduleResource:
    properties:
      id:
        $ref: '#/definitions/StudentAndTermAndCourseId'
      type:
        type: string
        enum: [class-schedule]
      attributes:
        properties:
          academicYear:
            description: Code value to identify the academic year for the term.
            type: string
            example: '1819'
          academicYearDescription:
            description: Short summary of the academic year for the term.
            type: string
            example: Academic Year 2018-19
          courseReferenceNumber:
            description: Uniquely identifies a course section for a given term.
            type: string
            example: '123456'
          courseSubject:
            description: Abbreviated course subject.
            type: string
            example: ECON
          courseSubjectDescription:
            description: Description of course subject.
            type: string
            example: Economics
          courseNumber:
            type: string
            example: '352'
          courseTitle:
            description: Title of the course.
            type: string
            example: Environmental Economics & Policy
          sectionNumber:
            description: The unique section of a specific course number.
            type: string
            example: '001'
          term:
            description: The term that this course is scheduled for.
            type: string
            example: '201901'
          termDescription:
            description: Description of the term.
            type: string
            example: Fall 2018
          scheduleDescription:
            description: Human readable schedule type for the course (agnostic of meeting times).
            type: string
            example: Lecture
          scheduleType:
            description: Type of schedule for the course (agnostic of meeting times).
            type: string
            example: A
            enum: [B, C, D, E, F, G, H, I, J, K, A, L, M, N, O, P , Q, R, S, T, U, W, Y, Z, V, X, MID, FIL, HYB]
          creditHours:
            description: Credit hours of the course.
            type: integer
            example: 3
          registrationStatus:
            description: The student's registration status for the course.
            type: string
            example: Web Registered
          gradingMode:
            description: The grading mode for the course.
            type: string
            example: Normal Grading Mode
          continuingEducation:
            description: Identifies whether the course is enrolled for continuing education credits.
            type: boolean
          faculty:
            description: Faculty and instructors associated with this course.
            type: array
            items:
              properties:
                osuId:
                  description: Person ID for the faculty.
                  type: string
                  example: '937654321'
                name:
                  description: Display name of the faculty.
                  type: string
                  example: Johnson, Bob
                email:
                  description: Email address of the faculty.
                  type: string
                  example: bob.johnson@oregonstate.edu
                primary:
                  description: Indicates whether the faculty is the primary faculty for the course.
                  type: boolean
                  example: true
          meetingTimes:
            description: Weekly meeting times for the course.
            type: array
            items:
              properties:
                beginDate:
                  description: The starting date of the meeting time schedule.
                  type: string
                  format: date
                  example: 2018-09-20
                beginTime:
                  description: The starting time of the meeting time for the course in 24 hour format.
                  type: string
                  example: 14:00:00
                endDate:
                  description: The ending date of the meeting time schedule.
                  type: string
                  format: date
                  example: 2018-11-30
                endTime:
                  description: The starting time of the meeting time for the course in 24 hour format.
                  type: string
                  example: 14:50:00
                room:
                  description: Room where the meeting time meets.
                  type: string
                  example: '100'
                building:
                  description: The building abbreviation of the meeting time.
                  type: string
                  example: LINC
                buildingDescription:
                  description: The name of the building.
                  type: string
                  example: Learning Innovation Center
                campusCode:
                  description: Campus code for a student
                  example: C
                  type: string
                campus:
                  description: Campus location of the meeting time.
                  type: string
                  example: Oregon State - Corvallis
                hoursPerWeek:
                  description: The amount of hours this meeting time meets per week.
                  type: number
                  format: float
                  example: 1.66
                creditHourSession:
                  description: Session credit hours for this meeting time.
                  type: integer
                  example: 2
                scheduleType:
                  description: |
                    Type of schedule for this given meeting type.
                      - `A` - Lecture
                      - `B` - Discussion
                      - `C` - Recitation
                      - `D` - Laboratory
                      - `E` - Seminar
                      - `F` - Independent or Special Studies
                      - `G` - Research
                      - `H` - Activity
                      - `I` - Experimental
                      - `J` - Internship
                      - `K` - Streaming Media
                      - `L` - Tutorial
                      - `M` - Practicum
                      - `N` - Reading and Conference
                      - `O` - Experiential/Co-op Education
                      - `P` - Programmed Instruction
                      - `Q` - Thesis
                      - `R` - Studio
                      - `S` - Project
                      - `T` - Telecourse/Distance Learning
                      - `U` - Externship
                      - `W` - Workshop
                      - `Y` - Online
                      - `Z` - Modular
                      - `V` - Examination for Credit
                      - `X` - One-time Event
                      - `MD` - Midterm Exam
                      - `FL` - Final Exam
                      - `HB` - Hybrid
                  type: string
                  example: A
                  enum: [B, C, D, E, F, G, H, I, J, K, A, L, M, N, O, P , Q, R, S, T, U, W, Y, Z, V, X, MID, FIL, HYB]
                scheduleDescription:
                  description: Human readable schedule type for the course (agnostic of meeting times).
                  type: string
                  example: Lecture
                weeklySchedule:
                  description: |
                    Array of day abbreviations to represent which days of the week this meeting time occurs on.
                    If an abbreviation is present in the array, the meeting time meets on that day of the week.
                    The meeting time does not meet on any days of the week which aren't in the array.
                    Abbreviations and their corresponding day of the week:
                      - `M`: - Monday
                      - `T`: - Tuesday
                      - `W`: - Wednesday
                      - `Th` - Thursday
                      - `F` - Friday
                      - `Sa` - Saturday
                      - `Su` - Sunday
                  type: array
                  example: [M, W, F]
                  items:
                    type: string
                    enum:  [M, T, W, Th, F, Sa, Su]
          repeatedCourseInd: &repeatedCourseInd
            description: |
              Identifies whether the course is repeated course.
                - `null` - Included
                - `A` - Include to only count in GPA
                - `E` - Excluded
                - `I` - Re-included after being excluded
            type: string
            enum: [null, 'A', 'E', 'I']
      links:
        $ref: '#/definitions/SelfLink'
  DegreesResult:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        type: array
        items:
          $ref: '#/definitions/DegreeResource'
  DegreeResource:
    properties:
      id:
        $ref: '#/definitions/StudentAndTermAndProgramNumber'
      type:
        type: string
        enum: [degree]
      attributes:
        properties:
          term:
            description: The term that this course is scheduled for
            type: string
            example: '201901'
          termDescription:
            description: Description of the term
            type: string
            example: Fall 2018
          academicYear:
            description: Code value to identify the academic year for the term
            type: string
            example: '1819'
          academicYearDescription:
            description: Short summary of the academic year for the term
            type: string
            example: Academic Year 2018-19
          programNumber:
            description: >
              The program number indicates the program priority. For example, 1
              stands for the primary degree.
            type: number
            format: integer
            example: 1
          primaryDegree:
            description: A boolean value indicates if the degree is primary or not
            type: boolean
            example: true
          degree:
            description: The student degree
            type: string
            example: Bachelor of Science
          level:
            description: The degree level
            type: string
            example: Undergraduate
          college:
            description: The college of the degree
            type: string
            example: College of Liberal Arts
          degreeAwardCategory:
            description: Degree award category
            type: string
            example: Baccalaureate Degree
          majors:
            properties:
              first:
                $ref: '#/definitions/Major'
              second:
                $ref: '#/definitions/Major'
              third:
                $ref: '#/definitions/Major'
              fourth:
                $ref: '#/definitions/Major'
            description: Majors information
          minors:
            properties:
              first:
                $ref: '#/definitions/Minor'
              second:
                $ref: '#/definitions/Minor'
              third:
                $ref: '#/definitions/Minor'
              fourth:
                $ref: '#/definitions/Minor'
            description: Minors information
  DualEnrollmentResult:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        type: array
        items:
          $ref: '#/definitions/DualEnrollmentResource'
  DualEnrollmentResource:
    properties:
      id:
        $ref: '#/definitions/StudentAndTermId'
      type:
        type: string
        enum: [dual-enrollment]
      attributes:
        properties:
          term:
            description: The term that this course is scheduled for.
            type: string
            example: '201901'
          creditHours:
            description: The number of dual enrollment credit hours enrolled for the given term.
            type: integer
            example: 5
      links:
        $ref: '#/definitions/SelfLink'
  ErrorObject:
    properties:
      status:
        type: string
        description: HTTP status code
        example: '123'
      title:
        type: string
        description: A short, user readable summary of the error
        example: Not Found
      code:
        type: string
        description: An application-specific error code
        example: '1234'
      detail:
        type: string
        description: A long description of the error that may contain instance-specific details
      links:
        properties:
          about:
            type: string
            format: uri
            description: A link to further information about the error
            example: https://developer.oregonstate.edu/documentation/error-reference#1234
  ErrorResult:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/ErrorObject'
  GradePointAverageResult:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        $ref: '#/definitions/GradePointAverageResource'
  GradePointAverageResource:
    properties:
      id:
        $ref: '#/definitions/StudentId'
      type:
        type: string
        enum: [gpa]
      attributes:
        properties:
          gpaLevels:
            description: Array of GPA s for the student. A student could have a separate GPA for transfer credits, for example.
            type: array
            items:
              $ref: '#/definitions/GradePointAverage'
      links:
        $ref: '#/definitions/SelfLink'
  GradePointAverage:
    properties:
      gpa:
        description: Grade point average
        type: string
        example: '3.49'
      gpaCreditHours:
        description: Credit hours applied toward GPA calculation.
        type: integer
        example: 146
      gpaType:
        description: Type of GPA. For example, Institution, Transfer, or Overall.
        type: string
        example: Institution
        enum:
          - Institution
          - Transfer
          - Overall
      creditHoursAttempted:
        description: Credit hours attempted for GPA calculation.
        type: integer
        example: 146
      creditHoursEarned:
        description: Credit hours earned for GPA calculation.
        type: integer
        example: 146
      creditHoursPassed:
        description: Credit hours passed for GPA calculation.
        type: integer
        example: 146
      levelCode: *levelCode
      level:
        description: Academic level for GPA calculation.
        type: string
        example: Undergraduate
      qualityPoints:
        description: Quality points for GPA calculation.
        type: string
        example: '578.70'
  GradesResult:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        type: array
        items:
          $ref: '#/definitions/GradesResource'
  GradesResource:
    properties:
      id:
        $ref: '#/definitions/StudentAndTermAndCourseId'
      type:
        type: string
        enum: [grades]
      attributes:
        properties:
          courseReferenceNumber:
            description: Uniquely identifies a course section for a given term.
            type: string
            example: '123456'
          gradeFinal:
            description: Letter grade representing the student's final grade for the course.
            type: string
            example: A-
          gradeMode:
            description: Grade mode for the course.
            type: string
            example: N
            enum: [N, P, C, S, A, K, E, Z]
          gradeModeDescription:
            description: Human readable gradeMode.
            type: string
            example: Normal Grading Mode
          courseSubject:
            description: Abbreviated course subject.
            type: string
            example: ECON
          courseSubjectDescription:
            description: Description of course subject.
            type: string
            example: Economics
          courseNumber:
            type: string
            example: '352'
          courseTitle:
            description: Title of the course.
            type: string
            example: Environmental Economics & Policy
          sectionNumber:
            description: The unique section of a specific course number.
            type: string
            example: '001'
          term:
            description: The term that this course was graded for.
            type: string
            example: '201901'
          termDescription:
            description: Description of the term.
            type: string
            example: Fall 2018
          scheduleDescription:
            description: Human readable scheduleType.
            type: string
            example: Lecture
          scheduleType:
            description: Format type for the course.
            type: string
            example: A
            enum: [B, C, D, E, F, G, H, I, J, K, A, L, M, N, O, P , Q, R, S, T, U, W, Y, Z, V, X, MID, FIL, HYB]
          creditHours:
            description: Credit hours of the course.
            type: integer
            example: 3
          registrationStatus:
            description: The student's registration status for the course.
            type: string
            example: Web Registered
          courseLevel:
            description: Academic level of the course.
            type: string
            example: Undergraduate
          repeatedCourseInd: *repeatedCourseInd
      links:
        $ref: '#/definitions/SelfLink'
  HoldsResult:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        $ref: '#/definitions/HoldsResource'
  HoldsResource:
    properties:
      id:
        $ref: '#/definitions/StudentId'
      type:
        type: string
        enum: [holds]
      attributes:
        properties:
          holds:
            type: array
            items:
              properties:
                fromDate:
                  description: The date this hold becomes effective.
                  type: string
                  format: date
                  example: 2019-12-31
                toDate:
                  description: The date this hold expires.
                  type: string
                  format: date
                  example: 2020-12-31
                description:
                  description: Description of the hold.
                  type: string
                  example: Missing requirements.
                webDisplay:
                  description: Web display indicator.
                  type: boolean
                  example: true
                processesAffected:
                  description: Processes affected by the hold.
                  type: array
                  items:
                    type: string
                    example: Graduation
                reason:
                  description: The reason the hold is on the student's record.
                  type: string
                  example: CS 161
                code: *HoldCode
                organizationCode:
                  type: string
                  description: Organization code of the hold.
                  example: REGS
                organizationDescription:
                  type: string
                  description: Organization code of the hold.
                  example: Registration Office
                releasedInd:
                  type: boolean
                  description: The released indicator of the hold.
                  example: true
      links:
        $ref: '#/definitions/SelfLink'
  WorkStudyResult:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        $ref: '#/definitions/WorkStudyResource'
  WorkStudyResource:
    properties:
      id:
        $ref: '#/definitions/StudentId'
      type:
        type: string
        enum: [work-study]
      attributes:
        properties:
          awards:
            type: array
            items:
              properties:
                effectiveStartDate:
                  type: string
                  format: date
                  description: Date the award is effective.
                effectiveEndDate:
                  type: string
                  format: date
                  description: Date the award is no longer effective.
                offerAmount:
                  type: number
                  format: float
                  description: Dollar amount offered for the award.
                offerExpirationDate:
                  type: string
                  format: date
                  description: Expiration date of offer.
                acceptedAmount:
                  type: number
                  format: float
                  description: Dollar amount accepted by awardee.
                acceptedDate:
                  type: string
                  format: date
                  description: Date the offer was accepted by the awardee.
                paidAmount:
                  type: number
                  format: float
                  description: Dollar amount of the acceptedAmount that has been paid to the awardee.
                awardStatus:
                  type: string
                  example: Accepted
                  description: Status of award.
                  enum:
                    - Declined
                    - Offered
                    - System Accepted
                    - System Cancelled
                    - Estimated Auto Accept
                    - Estimated
                    - Recommended
                    - Accepted
                    - Certified
                    - System Offered
                    - Canceled
      links:
        $ref: '#/definitions/SelfLink'
  EmergencyContactsResult:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        $ref: '#/definitions/EmergencyContactResource'
  EmergencyContactResource:
    properties:
      id:
        $ref: '#/definitions/StudentId'
      type:
        type: string
        enum: [emergency-contacts]
      attributes:
        properties:
          emergencyContacts:
            type: array
            items:
              properties:
                priority:
                  type: integer
                  example: 1
                  description: Priority order of the emergency contact.
                firstName:
                  type: string
                  description: First name of the emergency contact.
                lastName:
                  type: string
                  description: Last name of the emergency contact.
                middleName:
                  type: string
                  description: Middle name of the emergency contact.
                houseNumber:
                  type: string
                  description: House number of the emergency contact.
                streetLine1:
                  type: string
                  description: Street line 1 of the emergency contact.
                streetLine2:
                  type: string
                  description: Street line 2 of the emergency contact.
                streetLine3:
                  type: string
                  description: Street line 3 of the emergency contact.
                streetLine4:
                  type: string
                  description: Street line 4 of the emergency contact.
                city:
                  type: string
                  description: City of the emergency contact.
                  example: Corvallis
                stateCode:
                  type: string
                  description: State code of the emergency contact.
                  example: OR
                zipCode:
                  type: string
                  description: Zip code of the emergency contact.
                  example: '97331'
                nationCode:
                  type: string
                  description: Nation code of the emergency contact.
                  example: LUS
                nation:
                  type: string
                  description: Nation description of the emergency contact.
                  example: United States of America
                phoneAreaCode:
                  type: string
                  description: Area code for the phone number.
                  example: '541'
                phoneNumber:
                  type: string
                  description: Phone number not including the area code.
                  example: '4443333'
                fullPhoneNumber:
                  type: string
                  description: Combination of area code and phone number.
                  example: '5414443333'
                phoneExtension:
                  type: string
                  description: Extension for the phone number. Can be returned in different formats.
                  example: '20'
                relationCode:
                  type: string
                  description: |
                    Relation of the emergency contact.
                      - `A` - Alumni Parent
                      - `C` - Child
                      - `F` - Father
                      - `G` - Guardian
                      - `M` - Mother
                      - `O` - Other
                      - `P` - Parent
                      - `R` - Relative
                      - `S` - Spouse
                      - `U` - Unknown
                  enum: [A, C, F, G, M, O, P, R, S, U]
                relation:
                  type: string
                  description: Relation description of the emergency contact.
                  example: Parent
      links:
        $ref: '#/definitions/SelfLink'
  Major:
    properties:
      major:
        description: The major description
        type: string
        example: Business Administration
      programClassification:
        description: The program classification of the major
        type: string
        example: Business Admin & Mgmt, General
      department:
        description: The department of the major
        type: string
        example: Business Administration
      firstConcentration:
        description: The first concentration of the major
        type: string
        example: Accounting
      secondConcentration:
        description: The second concentration of the major
        type: string
        example: Finance
      thirdConcentration:
        description: The third concentration of the major
        type: string
        example: International Business
  Minor:
    properties:
      minor:
        description: The minor description
        type: string
        example: History
  SelfLink:
    properties:
      self:
        type: string
        format: url
  StudentId:
    type: string
    description: Student ID
    example: '931234567'
    pattern: '^\d{9}$'
  StudentAndTermId:
    type: string
    example: 931234567-201901
    pattern: '^\d{9}-\d{6}$'
  StudentAndTermAndCourseId:
    type: string
    example: 931123456-201901-123456
    pattern: '^\d{9}-\d{6}-.+$'
  StudentAndTermAndProgramNumber:
    type: string
    example: 931123456-201901-1
    pattern: '^\d{9}-\d{6}-\d+'
